html {
  overflow: hidden;
}

body {
  background: rgb(69, 147, 227);
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



